node_modules
**/node_modules
**/.next
**/build
**/.turbo
**/.cache
**/.env*
.git
.gitignore
Dockerfile
bun.lockb

# Exclude dist except for server binaries
**/dist
!server/api/dist/server
!server/mutation-api/dist/server
